extends ./pug/_main_template.pug
block head
  title oslo | Open Sourcing Law Documents

  .wrapper
    h1.page-title Oslo
    section.document-section
      h2 Licenses
      h4 Generate a custom open-source license for your project
      .grid
        .col.col--1-of-3
          .document.license
            h5 MIT
        .col.col--1-of-3
          .document.license
            h5 ISC
        .col.col--1-of-3
          .document.license
            h5 GNU (v3.0)
        .file-area
          #app
        a(href="https://opensource.org/licenses/alphabetical") More licenses available at OpenSource.org
        
    section.document-section
      h2 Equity Financing
      h4 Use open source equity documents
      .grid
        .col.col--3-of-3
          .document
            h5 YC SAFE
block content
block scripts
